
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
  
}
hr {
  border:#eaf6f6 dotted 6px;
  width: 5%;
  border-bottom: none;
  
}

h1 {
  margin: 50px auto 20px auto;
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}
h3, a {
  color: #11999E ;
}

.pro {
  text-decoration: underline;
  text-decoration-line: line-through;
  text-decoration-color: red;
  font-weight: normal;
}
.top-container{
background-color: #e4f9f5;
position: relative;
padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}

.profile {
  
}

.me {
  margin: 50px;
  height: 300px;
}

.skills {
  
}

.skill-img1 {
  float: left;
  border-radius: 50%;
}
.skill-img2 {
  float: right;
  padding-right: 40px;
}
.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.contact-me {
  
}

.BUTTON {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
  background-color: #11999E;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 30px 30px;
}
.bottom-container {
  background-color: #66BFBF;

}
.footer-link {
  color: #11999e;
  font-size: 1.5rem;
  font-weight: bold;
  font-size: 120%;
  margin: 0.5rem;
  padding: 2rem;
  
}